<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
UPDATE BOOK PAGE!!!

<form th:method="PATCH" th:action="@{/books/edit/{id}(id=${book.id})}" th:object="${book}">
    <label for="title">Title:</label>
    <input id="title" type="text" th:field="*{title}"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br/>
    <br/>

    <label for="author">Author:</label>
    <input id="author" type="text" th:field="*{author}"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br/>
    <br/>

    <label for="year">Year:</label>
    <input id="year" type="text" th:field="*{year}"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    <br/>
    <br/>

    <input type="submit" value="Update book" />
</form>

</body>
</html>